.mdx {
  --h1: 3.6rem;
  --h2: 2rem;
  --h3: 2rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto 6.4rem auto;
  line-height: 1.5;
  @media screen and (min-width: 600px) {
    --h1: 4.8rem;
    --h2: 2.4rem;
    --h3: 2rem;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  p {
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    line-height: 1.625;
  }

  h1 {
    margin-bottom: 1em;
    font-size: var(--h1);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.025em;
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: var(--h2);
    font-weight: 700;
    line-height: 1.25;
    scroll-margin-top: 160px;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: var(--h3);
    font-weight: 700;
    line-height: 1.25;
    scroll-margin-top: 100px;
  }

  a {
    outline: none;
    color: var(--color-mdx-link);
    line-height: 1.5;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 3.2rem;
    margin-left: 0.8rem;
    padding-top: 0.8rem;
    padding-left: 2rem;
    list-style-type: disc;
  }

  ol {
    margin-bottom: 3.2rem;
    padding-top: 0.8rem;

    > li {
      position: relative;
      padding-left: 2.8rem;
      counter-increment: li;

      &:before {
        position: absolute;
        content: counters(li, '.') '. ';
        left: 0;
      }
    }
  }

  li {
    padding-bottom: 0.8rem;

    > p {
      margin: 0;
    }

    > pre[class*='language-'] {
      margin: 0.8rem 0;
    }
  }

  strong {
    font-weight: 700;
  }

  a.autolink-heading {
    position: relative;
    color: inherit;

    &:after {
      position: absolute;
      content: '#';
      top: 0;
      left: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      align-items: center;
      margin-left: 1.6rem;
      color: #60b3fb;
      font-size: 1em;
      transition: opacity 0.25s;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;

      &:after {
        opacity: 1;
      }
    }
  }
}

code {
  padding: 0.2rem 0.6rem;
  border: 1px solid var(--color-remark-code-title-bg);
  border-radius: 0.4rem;
  background: var(--color-remark-code-bg);
  white-space: pre;
}

pre code {
  padding: 0;
  border: 0;
  background: transparent;
}

code[class*='language-'],
pre[class*='language-'] {
  width: 100%;
  background: none;
  color: var(--color-header);
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1.5rem;
  line-height: inherit;
  word-spacing: normal;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  overflow-wrap: normal;
}

/* Code blocks */
pre[class*='language-'] {
  min-width: 100%;
  overflow: auto;
  margin: 2.4rem 0;
  padding-top: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: 1.6rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  border: 1px solid var(--color-remark-code-title-bg);
  border-radius: 0.8rem;
  background: var(--color-remark-code-bg);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #109bd6;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.mdx-marker {
  min-width: fit-content;
  display: block;
  margin-right: -1.6rem;
  margin-left: -1.6rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  background-color: var(--color-button);
  box-shadow: inset 3px 0 0 0 #2a69ac;
}

.remark-code-title {
  width: 100%;
  margin-bottom: 0;
  padding: 0.8rem 1.6rem;
  border: 1px solid var(--color-remark-code-title-bg);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background: var(--color-remark-code-title-bg);
  color: var(--color-header);
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1.5rem;

  + pre {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.dark-theme {
  :not(pre) > code[class*='language-'] {
    background: #011627;
  }

  .token.attr-name {
    color: rgb(173, 219, 103);
    font-style: italic;
  }

  .token.comment {
    color: rgb(128, 147, 147);
  }

  .token.string,
  .token.url {
    color: rgb(173, 219, 103);
  }

  .token.variable {
    color: rgb(214, 222, 235);
  }

  .token.number {
    color: rgb(247, 140, 108);
  }

  .token.builtin,
  .token.char,
  .token.constant,
  .token.function {
    color: rgb(130, 170, 255);
  }

  .token.punctuation {
    color: rgb(199, 146, 234);
  }

  .token.selector,
  .token.doctype {
    color: rgb(199, 146, 234);
  }

  .token.class-name {
    color: rgb(255, 203, 139);
  }

  .token.tag,
  .token.operator,
  .token.keyword {
    color: #ffa7c4;
  }

  .token.boolean {
    color: rgb(255, 88, 116);
  }

  .token.property {
    color: rgb(128, 203, 196);
  }

  .token.namespace {
    color: rgb(178, 204, 214);
  }
}
