.mdx {
  --h1: 3.6rem;
  --h2: 2rem;
  --h3: 2rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto 6.4rem;
  line-height: 1.5;
  @media screen and (min-width: 600px) {
    --h1: 4.8rem;
    --h2: 2.4rem;
    --h3: 2rem;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  p {
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    line-height: 1.625;
  }

  h1 {
    margin-bottom: 1em;
    font-size: var(--h1);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.025em;
  }

  h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: var(--h2);
    font-weight: 700;
    line-height: 1.25;
    scroll-margin-top: 160px;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: var(--h3);
    font-weight: 700;
    line-height: 1.25;
    scroll-margin-top: 100px;
  }

  a {
    outline: none;
    color: var(--color-mdx-link);
    line-height: 1.5;
    text-decoration: none;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 3.2rem;
    margin-left: 0.8rem;
    padding-top: 0.8rem;
    padding-left: 2rem;
    list-style-type: disc;
  }

  ol {
    margin-bottom: 3.2rem;
    padding-top: 0.8rem;

    > li {
      position: relative;
      padding-left: 2.8rem;
      counter-increment: li;

      &::before {
        position: absolute;
        content: counters(li, '.') '. ';
        left: 0;
      }
    }
  }

  li {
    padding-bottom: 0.8rem;

    > p {
      margin: 0;
    }

    > pre[class*='language-'] {
      margin: 0.8rem 0;
    }
  }

  strong {
    font-weight: 700;
  }

  .autolink-heading {
    position: relative;
    color: inherit;

    &::after {
      position: absolute;
      content: '#';
      top: 0;
      left: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      align-items: center;
      margin-left: 1.6rem;
      color: #60b3fb;
      font-size: 1em;
      transition: opacity 0.25s;
    }

    &:hover, &:focus, &:active {
      text-decoration: none;

      &::after {
        opacity: 1;
      }
    }
  }
}
