/*
$class-names: ':not(.h1):not(.h2)';
$class-names2: ':not([class*=' H '])';

h1#{$class-names} {
  font-size: 150px;
}

h1#{$class-names2} {
  font-size: 150px;
}

h1, .h1 {
  font-size: 120px;
}

h2, .h2 {
  font-size: 120px;
}

h2, .h3 {
  font-size: 120px;
}

h2, .h4 {
  font-size: 120px;
}

h2, .h5 {
  font-size: 120px;
}
*/
